/**
 * FireSlide
 * =========
 *
 */

@import '../node_modules/lesshat/build/lesshat';

@dark: #111;
@light: #cdcdcd;
@lightShadow: #000;

.fullScreen() {
    position: fixed;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
}
.fullBackground() {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

html, body {
    overflow: hidden;
    background: @dark; 
    color: @light;
    text-shadow: 0 1px @lightShadow;
}

#curtain {
    .fullScreen();
    .opacity(1);
    .transition(opacity .3 cubic-bezier(0.550, 0.085, 0.680, 0.530));
    
    background-color: @dark;
    background-image: url(assets/gears.gif);
    background-repeat: no-repeat;
    background-position: center center;

    &.active {
        .opacity(0);
    }
}

.slide {
    .fullScreen;
    .fullBackground;
    background-color: @dark;

    // makes a div being clickable on iOS. how weird?
    // https://github.com/facebook/react/issues/134
    cursor: pointer;
}
