/**
 * FireSlide
 * =========
 *
 */

@import '../node_modules/lesshat/build/lesshat';

@dark: #111;
@light: #cdcdcd;
@lightShadow: #000;

.fullScreen() {
    position: fixed;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
}

.fullBackground() {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


/**
 * Fade Animation
 */

.fade-enter {
    .transition(opacity .3 cubic-bezier(0.550, 0.085, 0.680, 0.530));
    .opacity(0);
}

.fade-enter-active {
    .opacity(1);
}

.fade-leave {
    .transition(opacity .3 cubic-bezier(0.550, 0.085, 0.680, 0.530));
    .opacity(1);
}

.fade-leave-active {
    .opacity(0);
}

/**
 * Horizontal Slide Animation
 */

.h-slide-enter {
    .transition(transform .3 cubic-bezier(0.550, 0.085, 0.680, 0.530));
    .translateX(100%);
}

.h-slide-enter-active {
    .translateX(0);
}

.h-slide-leave {
    .transition(transform .3 cubic-bezier(0.550, 0.085, 0.680, 0.530));
    .translateX(0);
}

.h-slide-leave-active {
    .translateX(-100%);
}

/**
 * Vertical Slide Animation
 */

.v-slide-enter {
    .transition(transform .3 cubic-bezier(0.550, 0.085, 0.680, 0.530));
    .translateY(100%);
}

.v-slide-enter-active {
    .translateY(0);
}

.v-slide-leave {
    .transition(transform .3 cubic-bezier(0.550, 0.085, 0.680, 0.530));
    .translateY(0);
}

.v-slide-leave-active {
    .translateY(-100%);
}




.loading {
    .fullScreen();
    background-color: @dark;
    background-image: url(assets/gears.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

html, body {
    overflow: hidden;
    background: @dark; 
    color: @light;
    text-shadow: 0 1px @lightShadow;
}

#curtain {
    .loading;
    .fade-leave;

    &.active {
        .fade-leave-active;
    }
}

.slide {
    .fullScreen;
    .fullBackground;
    background-color: @dark;
}

.slides-preloader {
    position: fixed;
    top: 45%;
    left: 10%;
    display: block;
    width: 80%;
    text-align: center;
    font-size: 0.8em;
}

// this can be improved quite a lot :-)
.progress-bar {
    position: relative;
    display: inline-block;
    height: 1px;
    overflow: hidden;
    background-color: #666;
    text-align: left;
    & > .progress {
        .transition(width .3 cubic-bezier(0.550, 0.085, 0.680, 0.530));
        position: absolute;
        top:0;
        legt:0;
        display: inline-block;
        height: 1px;
        background-color: lime;
    }
}

.slide-button {
    .fullBackground;

    position: fixed;
    bottom: -30px;

    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100%;

    background-color: #000;
    border-top: 1px solid #444;
    border-bottom: 1px solid #222;
    box-shadow: 0 0 30px #222;
    cursor: pointer; // remember iOS mobile??

    &:active, &.active {
        border-top: 1px solid #222;
        border-bottom: 0px solid #000;
    }

    &.next {
        right: -20px;
    }
    
    &.prev {
        left: -20px;
    }
}
